<!doctype html>
<html>

	{% include "components/head.njk" %}

	<body class="grid grid--body">

		{% include "components/header.njk" %}

		<main class="p--2 pb--8">
			{{ content | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>